{% extends 'base.html' %}

{% block conteudo %}

	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-xs-3 card">
				<div class="card-header">
			    	<h3 class="card-title"><i class="fas fa-wallet"></i> Caixa Inicial</h3>
			  	</div>
			  	<div class="card-body p-4">
 					<form id="caixa_inicial">
 						<div class="form-group">
			    			<label for="texto">Insira o valor:</label>
			      			<input v-model="inputText" class="form-control" type="number" id="texto" name="texto" />
   						</div>
   						<button class="btn btn-success btn-sm" @click="cleanInput" type="reset">Limpar campo</button>
   					</form>
			  		<div class="h4 d-flex justify-content-center text-muted border-bottom p-2 mt-3">
			    		${realMoney}
			  		</div>
    			</div>
	  		</div>
 		</div>
 	</div>

{% endblock conteudo %}
